<% provide(:title, "Contact") %>
<% provide(:favicon, "https://image.ibb.co/dZEZsA/spinner.png") %>

<section class="contact-hero">
  <h2>Contact Us...</h2>
  <img src="https://i.ibb.co/fpFK8wL/contact-hero.png"/>
</section>

<section class="member-section">
  <h2>For Members...</h2>

    <p id="member-info">Within HawkWorks, our members work sporadically<br/>
throughout the week but we generally meet every<br/>
<span style="font-weight:bold;text-decoration:underline;font-style:italic">Wednesday</span> on Structural Testing and Student Projects<br/>
(STSP) Building at West Campus from <span style="font-weight:bold;text-decoration:underline;font-style:italic">6:00 pm</span> Central<br/>
Standard Time at:<br/><br/>

<span style="font-weight:bold;font-style:italic">Structural Testing and Student Projects</span><br/>

2107 Becker Drive,<br/>

Lawrence, KS 66046<br/><br/>

To get to STSP:<br/>

1. From Iowa Street, turn West on 21st Street<br/>

2. Make left onto Becker Drive<br/>

3. Follow the drive to parking lot 302<br/>

* A KU Yellow Parking Pass allows you to park
in lot<br/>302<br/>

* Bus 41 can also take you to lot 302<br/><br/>

A keycard (obtained through KU ID) is needed to enter the
building.<br/><br/>

Access to the facility will be granted based on frequency of
involvement in HawkWorks and its projects.<br/><br/>

Please note, the STSP facility is used only for working on
HawkWorks projects and does not accept any packages. A separate shipping address is provided below.</p>
  
  <img id="member-imgone" src="https://i.ibb.co/G7CkFKc/stsp-building.png"/>
  <p id="member-captionone">Structural Testing and Student Projects Building at West Campus</p>
  <img id="member-imgtwo" src="https://i.ibb.co/XjN4Hkq/stsp-map.png"/>
  <p id="member-captiontwo">Map to Structural Testing and Student Projects Building</p>

</section>

<section class="nonmember-section">
  <h2>For everyone else...</h2>

<p id="nonmember-info1"><span style="font-weight:bold;font-style:italic">E-Mail</span><br/><br/>

For all inquiries including outreach,
marketing, membership, etc HawkWorks can be
reached through:<br/><br/>

<a href="mailto:hawkworks@ku.edu">hawkworks@ku.edu</a><br/><br/>

Please provide your full name and your inquiry in the subject.<br/><br/>

Please give HawkWorks several days to respond to
your e-mail.<br/><br/>

Due to a high volume of e-mails, HawkWorks is not able to
guarantee a response to every inquiry. Please resend
your e-mail to increase your chances of a getting a response.<br/><br/>

*For safety and security, HawkWorks will not
provide any personal information on any persons.</p>

<p id="nonmember-info2"><span style="font-weight:bold;font-style:italic">Shipping Address</span><br/><br/>

For all items that need to be shipped to HawkWorks,
please send it to the address below:<br/><br/>

HawkWorks<br/>

1530 West 15th Street<br/>

3138 Learned Hall<br/>

Lawrence, KS 66046<br/><br/>

Please indicate your full name, your company (if
any) and provide a return address.<br/><br/>

*For safety and security, HawkWorks will not
provide any personal information on any persons.</p>

<p id="disclaimer">
Please note the contact information provided above is for serious inquiries only. Any ill-intentioned message or suspicious package sent to HawkWorks
WILL BE HANDED to proper authorities and HawkWorks will fully participate with the investigation.
<br/><br/>
*HawkWorks may provide personal information of the individuals or company to the proper authorities if such information is required to cooperate in the
investigation.
</p>

</section>