<% provide(:title, "Contact") %>
<% provide(:favicon, "https://image.ibb.co/dZEZsA/spinner.png") %>

<section class="contact-hero">
  <h2>Contact Us...</h2>
  <img src="https://i.ibb.co/fpFK8wL/contact-hero.png"/>
</section>

<section class="member-section">
  <h2>For Members...</h2>

    <p>Within HawkWorks, our members work sporadically<br/>
throughout the week but we generally meet every<br/>
<span style="font-weight:bold;text-decoration:underline;font-style:italic">Wednesday</span> on Structural Testing and Student Projects<br/>
(STSP) Building at West Campus from <span style="font-weight:bold;text-decoration:underline;font-style:italic">6:00 pm</span> Central<br/>
Standard Time at:<br/><br/>

<span style="font-weight:bold;font-style:italic">Structural Testing and Student Projects</span><br/>

2107 Becker Drive,<br/>

Lawrence, KS 66046<br/><br/>

To get to STSP:<br/>

1. From Iowa Street, turn West on 21st Street<br/>

2. Make left onto Becker Drive<br/>

3. Follow the drive to parking lot 302<br/>

* A KU Yellow Parking Pass allows you to park
in lot<br/>302<br/>

* Bus 41 can also take you to lot 302<br/><br/>

A keycard (obtained through KU ID) is needed to enter the
building.<br/><br/>

Access to the facility will be granted based on frequency of
involvement in HawkWorks and its projects.<br/><br/>

Please note, the STSP facility is used only for working on
HawkWorks projects and does not accept any packages. A separate shipping address is provided below.</p>
  
  <img id="member-imgone" src="https://i.ibb.co/G7CkFKc/stsp-building.png"/>
  <p id="member-captionone">Structural Testing and Student Projects Building at West Campus</p>
  <img id="member-imgtwo" src="https://i.ibb.co/XjN4Hkq/stsp-map.png"/>
  <p id="member-captiontwo">Map to Structural Testing and Student Projects Building</p>

</section>