<% provide(:title, "Contact") %>
<% provide(:favicon, "https://image.ibb.co/dZEZsA/spinner.png") %>

<section class="contact-hero">
  <img src="https://i.ibb.co/fpFK8wL/contact-hero.png"/>
  <p>Contact Us...</p>
</section>