<% provide(:title, "HawkWorks") %>
<% provide(:favicon, "https://image.ibb.co/dZEZsA/spinner.png") %>

<section class="hero-section">
  <img src="https://i.ibb.co/DDxLb3X/hero-one.png"/>
  <p><a href="/about">Overkill is underrated!</a><br/>
  <span>University of Kansas' own advanced STEM team.</span>
  </p>
</section>

<section class="hero-section-two">
  <img src="https://i.ibb.co/m5QcwMH/hero-two.png" />
  <p>Innovative,<br/>interdisciplinary<br/>engineering <a href="/mission">systems</a><br/>
  <span>HawkWorks live to conceptualize,<br/>
  design, manufacture and<br/>demonstrate our projects.</span>
  </p>
</section>

<section class="hero-section-three">
  <img src="https://i.ibb.co/ZYVfGBc/hero-three.png" />
  <p>Analytical approach to solutions</p>
</section>

<section class="hero-section-four">
  <img src="https://i.ibb.co/9NbHY6s/hero-four.png" />
  <p>Real Hands-On Experience....</p>
</section>

<section class="hero-section-five">
  <img src="https://i.ibb.co/6PGJNDZ/hero-five.png" />
  <p><a href="/outreach">Demonstrating</a> HawkWorks projects<br/> and representing KU,
  both locally<br/> and nationally</p>
</section>

<section class="hero-section-six">
  <img src="https://i.ibb.co/bvVmFGP/hero-six.png" />
  <p>Think you have what it takes to be part of an autonomous <a href="/contact">team?</a></p>
</section>