<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Hawkworks Home</title>
    <link rel="icon" href="https://image.ibb.co/iJgYjq/Hawkworks-Spinner-No-Background.png" type="image/x-icon"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/mission">Mission</a>
      <a href="/outreach">Outreach</a>
      <a href="/contact">Contact</a>
    </nav>
  </body>
</html>
