<% provide(:title, "Hawkworks") %>
<% provide(:favicon, "https://image.ibb.co/dZEZsA/spinner.png") %>

<section class="hero-section">
  <img src="https://i.ibb.co/DDxLb3X/hero-one.png" />
  <p><a href="/about">Overkill is underrated!</a><br/>
  <span>University of Kansas' own advanced STEM team.</span>
  </p>
</section>