<% provide(:title, "Projects") %>
<% provide(:favicon, "https://image.ibb.co/dZEZsA/spinner.png") %>

<section style="position:relative;margin:10% auto;text-align:center;max-width:100%;">
<img style="width:50%" src="https://i.ibb.co/WxZK5JG/ezgif-com-crop.gif"/>
</section>