<% provide(:title, "Outreach") %>
<% provide(:favicon, "https://image.ibb.co/dZEZsA/spinner.png") %>

<section class="outreach-section-one">
  <img src="https://i.ibb.co/XbZpNwB/outreach-hero-one.png"/>
  <h2>Demonstrating our projects to inspire STEM projects...</h2>
  <p>“Their musical Tesla Coil shooting out lightening bolts in tune with notes played on an electric
keyboard seemed to do the trick.”<br/><br/>
-<a target="_blank" href="https://www2.ljworld.com/news/2016/feb/25/too-cool-kids-ignore-ku-engineering-expo-draws-tho/">Sara Shepherd – Lawrence Journal, 2016</a>
  </p>
  <!--<p>“....so in order to get a video of the lightning, striking within the inches of our face without
risking cardiac arrest, we are stepping into a Faraday Cage.”<br/>
-<a href="https://www.youtube.com/watch?v=wfYLE1aAsXs">Hank Schyma – Pecos Hank, 2017</a>
  </p>-->
</section>