<% provide(:title, "Outreach") %>
<% provide(:favicon, "https://image.ibb.co/dZEZsA/spinner.png") %>

<section class="outreach-section-one">
  <img src="https://i.ibb.co/LQMkw4p/outreach-hero-one-opac.png"/>
  
  <h2>Demonstrating our projects to inspire STEM projects...</h2>
  
  <p class="outreach-capone">“Their musical Tesla Coil shooting out lightening bolts in tune with notes played on an electric
keyboard seemed to do the trick.”<br/><br/>
-<a target="_blank" href="https://www2.ljworld.com/news/2016/feb/25/too-cool-kids-ignore-ku-engineering-expo-draws-tho/">Sara Shepherd – Lawrence Journal, 2016</a>
  </p>
  
  <p class="outreach-captwo">“....so in order to get a video of the lightning, striking within the inches of our face without
risking cardiac arrest, we are stepping into a Faraday Cage.”<br/><br/>
-<a target="_blank" href="https://www.youtube.com/watch?v=wfYLE1aAsXs">Hank Schyma – Pecos Hank, 2017</a>
  </p>

  <p id="hawkworks-outreachinfo">
HawkWorks demonstrates its projects in local and national STEM events
to educate and inspire everyone to build cool stuff. Within Lawrence, we have
demonstrated several of our projects in several local events like the Hillcrest
Elementary’s Science Night, Eudora Elementary’s Science Fair, Prairie Park
Elementary’s Science Discovery Day, etc. Hawkworks also demonstrated in
national events and conferences like Maker Faire Kansas City, Confabullaryum
and French Innovation Week in Chicago.<br/><br/>

<b>Check out some of the albums from previous Hawkworks Outreach Events below!</b>
  </p>

</section>