<h1><%= @album.title %></h1>
<% if @album.images.attached? %>
<% @album.images.each do |i| %>
    <%= image_tag i %>
    <%= link_to 'Remove', delete_image_album_url(i.id),method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>