// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#album-title{
    color:#595959;
    font-size:4.25vw;
}

.album-grid-container{
    display: grid;
    padding-left: 5vw;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 30px 30px;
    max-width: 100%;
}

.album-grid-item img{
    width:20vw;
}