// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#album-title{
    color:#595959;
    font-size:4.25vw;
}

.album-grid-container{
    display:grid;
    grid-gap:50px;
}

.album-grid-item img{
    width:30%;
}