/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

/* Beginning of navbar styling */

nav {
  background-color: #FFC82D;
  padding: 1% 1% 2.5% 1%;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding-right: 1%;
}

nav img {
  float: right;
}

/* End of navbar styling */
