/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

/* Beginning of navbar styling */

nav {
  background-color: #FFC82D;
  padding: 5vh 1vw;
}

nav a {
  text-decoration: none;
  color: #fff;
  outline: none;
  margin-right: 2%;
  padding-bottom: 0.5%;
  font-size: 1vw;
  border-bottom: 3px solid #FFC82D; /* This border is here to make the transition to red work like it is supposed to, otherwise it just transitions the border size, not fade-in */
  transition-property:border-bottom;
  transition-duration: 1s;
  transition-timing-function: linear;
}

nav a:hover{
  border-bottom: 3px solid #E8000D;
}

nav img {
  float: right;
  margin-top: -0.8%;
  text-align: justify;
  max-width: 40vw;
  max-height: 5vh;
  transform: rotate(-9deg);
}

/* End of navbar styling */
