/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

body {
  background: #e7e6e6;
  margin: 0;
  padding: 0;
}

main{
  background: #333;
}

/* Beginning of navbar styling */

#navbar{
  position: absolute;
  top:0;
  left:0;
  padding: 2% 0% 3% 0%;
  /* background: yellow; */
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.hidden{
  padding-bottom: 14.7%;
}

.logo{
  width: 20%;
}

#navbar nav ul{
  margin: 3% 0 0 0;
}

#navbar nav ul li{
  display: inline;
  padding: 0% 4.5%;
}

#navbar nav ul li a{
  text-decoration: none;
  color: #7f7f7f;
}

.hamburger{
  display: none;
  width:20%;
  height: 60%;
  cursor: pointer;
  float: right;
}

@media (max-width:991px){

  .hamburger{
    display: inline;
    position: absolute;
    right:2%;
    margin:1.5% 0 0 0;
    padding:0;
  }

  .not-active{
    position:absolute;
    width:100%;
    height:100vh;
    background: #D6D0CF;
    top:100%;
    right:-100%;
    text-align: center;
    transition-property: right;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .active{
    position:absolute;
    width:100%;
    height:100vh;
    background: #D6D0CF;
    top:100%;
    right:0;
    text-align: center;
    transition-property: right;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  #navbar nav ul{
    margin:0;
    padding: 0;
  }

  #navbar nav ul li{
    display: block;
    padding:4%;
    border-bottom:1px solid #7f7f7f;
  }

  #navbar nav ul li:hover, #navbar nav ul li:hover a{
    background: #AFABAA;
    color:#555353;
    cursor: pointer;
    
  }

}

/* End of navbar styling */