// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Start of home page styling

section.hero-section{
  position:relative;
  width:100%;
  margin: 3% 0 0 0;
}

section.hero-section img{
  width:85%;
}

section.hero-section p{
  position:absolute;
  font-weight: 600;
  top:0;
  padding: 10% 0 0 35%;
  font-size: 4.25vw;
}

section.hero-section p a{
  text-decoration: none;
  color:#595959;
  transition: .5s;
}

section.hero-section p a:hover{
  color:#333;
  transition: .5s;
}

section.hero-section p span{
  color:#595959;
  font-weight: 500;
  font-size: 2.6vw;
}

section.hero-section-two{
  position:relative;
  width:100%;
  margin: 5% 0 0 0;
}

section.hero-section-two img{
  width:85%;
  float:right;
}

section.hero-section-two p{
  position:absolute;
  font-weight: 600;
  color:#595959;
  top:0;
  padding: 0 0 0 1%;
  font-size: 4.25vw;
}

section.hero-section-two p a{
  text-decoration: none;
  color:#595959;
  transition: .5s;
}

section.hero-section-two p a:hover{
  color:#333;
  transition: .5s;
}

section.hero-section-two p span{
  position: absolute;
  padding: 3% 0 0 0;
  font-weight: 500;
  font-size: 2.6vw;
}

section.hero-section-three{
  position:relative;
  width:100%;
  margin: 70% 0 0 0; //Margin here is unconventional due to hero-section-two having a floated image
}

section.hero-section-three img{
  width:100%;
}

section.hero-section-three p{
  position:absolute;
  font-weight: 600;
  color:#595959;
  top:0;
  margin-top: -1%;
  padding-left: 15%;
  font-size: 4.25vw;
}

section.hero-section-four{
  position:relative;
  width:100%;
  margin: 7% 0 0 0;
}

section.hero-section-four img{
  width:100%;
}

section.hero-section-four p{
  position:absolute;
  font-weight: 600;
  color: #595959;
  font-size: 4vw;
  top:0;
  padding: 0 0 0 66%;
}

section.hero-section-five{
  position:relative;
  width:100%;
  margin: 5% 0 0 0;
}

section.hero-section-five img{
  width:100%;
}

section.hero-section-five p{
  position:absolute;
  font-weight: 600;
  color:#595959;
  top:0;
  padding: 7% 0 0 1%;
  font-size: 3vw;
}

section.hero-section-five p a{
  text-decoration: none;
  color:#595959;
  transition: .5s;
}

section.hero-section-five p a:hover{
  color:#333;
  transition: .5s;
}

section.hero-section-six{
  position:relative;
  width:100%;
  margin: 5% 0 0 0;
}

section.hero-section-six img{
  width:100%;
}

section.hero-section-six p{
  position:absolute;
  font-weight: 600;
  color:#595959;
  top:0;
  margin: -1% 0 0 3%; // Used margin instead of padding here because I needed to set a negative value for the top (which was not working with padding)
  font-size: 2.7vw;
}

section.hero-section-six p a{
  text-decoration: none;
  color:#595959;
  transition: .5s;
}

section.hero-section-six p a:hover{
  color:#333;
  transition: .5s;
}

// End of home page styling

// Start of contact page styling

section.contact-hero{
  position:relative;
  width:100%;
  margin: 10% 0 0 0;
}

section.contact-hero img{
  width:70%;
  float:right;
}

section.contact-hero h2{
  position:absolute;
  font-weight: 600;
  top:0;
  color:#595959;
  margin: -5% 0 0 2.5%; // Used margin instead of padding here because I needed to set a negative value for the top (which was not working with padding)
  font-size: 5vw;
}

section.member-section{
  position:relative;
  width:100%;
  padding: 50% 0 0 0;
}

section.member-section h2{
  font-size: 5vw;
  padding-left: 2.5%;
  color:#595959;
}

section.member-section #member-imgone{
  position: absolute;
  top:0;
  margin:60% 0 0 55%;
  width:40%;
}

section.member-section #member-captionone{
  position:absolute;
  top:0;
  color:#595959;
  background:none;
  border:none;
  font-weight: 600;
  margin: 85% 0 0 54%;
  font-size: 1.1vw;
}

section.member-section #member-imgtwo{
  position: absolute;
  top:0;
  margin:90% 0 0 55%;
  width:40%;
}

section.member-section #member-captiontwo{
  position:absolute;
  top:0;
  color:#595959;
  background:none;
  border:none;
  font-weight: 600;
  margin: 125% 0 0 57%;
  font-size: 1.1vw;
}

section.member-section p{
  position:absolute;
  top:0;
  color:#595959;
  border: 3px solid #595959;
  background: #fff;
  line-height: 1.5em;
  width:45%;
  margin: 65% 0 0 2.5%;
  padding:1%;
  box-sizing: border-box;
  font-size: 1.5vw;
}

@media (max-width:991px) {

  section.contact-hero img{
    width:100%;
    float: none;
  }
  
  section.contact-hero h2{
    text-align: center;
    position: relative;
    font-size: 6vw;
  }

  section.member-section{
    position:relative;
    padding: 0;
    text-align: center;
  }
  
  section.member-section h2{
    font-size: 6vw;
    padding-left: 0;
  }
  
  section.member-section #member-imgone{
    position: relative;
    width:100%;
    margin:0;
  }

  section.member-section #member-captionone{
    position:initial;
    margin:0;
    margin-bottom: 10%;
    background:none;
    border:none;
    font-size: 2.6vw;
  }
  
  section.member-section #member-imgtwo{
    position: relative;
    width:50%;
    margin:0;
  }

  section.member-section #member-captiontwo{
    position:initial;
    margin:0;
    background:none;
    border:none;
    font-size: 2.6vw;
  }
  
  section.member-section p{
    position:relative;
    width:100%;
    margin:0;
    font-size: 2.6vw;
  }

}

// End of contact page styling