// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Beginning of pages home styling */
nav{
  
  a{
    text-decoration: none;
    color:black;
    padding-right: 1%;
  }
}
/* End of pages home styling */
