// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.hero-section{
  position:relative;
  width:100%;
  margin: 3% 0 0 0;
}

section.hero-section img{
  width:85%;
}

section.hero-section p{
  position:absolute;
  font-weight: 600;
  top:0;
  padding: 10% 0 0 35%;
  font-size: 5vw;
}

section.hero-section p a{
  text-decoration: none;
  color:#595959;
  transition: .5s;
}

section.hero-section p a:hover{
  color:#333;
  transition: .5s;
}

section.hero-section p span{
  color:#595959;
  font-weight: 500;
  font-size: 2.6vw;
}

section.hero-section-two{
  position:relative;
  width:100%;
  margin: 5% 0 0 0;
}

section.hero-section-two img{
  width:85%;
  float:right;
}

section.hero-section-two p{
  position:absolute;
  font-weight: 600;
  color:#595959;
  top:0;
  padding: 0 0 0 1%;
  font-size: 4.25vw;
}

section.hero-section-two p a{
  text-decoration: none;
  color:#595959;
  transition: .5s;
}

section.hero-section-two p a:hover{
  color:#333;
  transition: .5s;
}

section.hero-section-two p span{
  position: absolute;
  padding: 3% 0 0 0;
  font-weight: 500;
  font-size: 2.6vw;
}